html {
    font-size: 18px
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color:#BADFF2 
}

a:visited {
    color: #7B75CF
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 0.5rem;
}