html {
    font-size: 22px
}

body {
    background-color: rgb(96, 114, 98);
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(9, 92, 57);
}

a:hover, a:active {
    color: #eee;
}